@import url(//db.onlinewebfonts.com/c/6ab539c6fc2b21ff0b149b3d06d7f97c?family=Minecraft);


h2 {
    cursor: pointer;
    font-family: Minecraft;
    color: white;
    font-weight: bold;
    font-size: 2rem;
}